<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Secure Law Firm - Sign In</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Sign In</h3>
                        </div>
                        <form action="{{ url_for('login') }}" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-floating mb-3">
                                {{ form.email(class_="form-control") }}
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-4">
                                {{ form.password(class_="form-control") }}
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating mb-4">
                                {{ form.two_factor_code(class_="form-control") }}
                                <label for="floating2FA">2FA Code</label>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                        </form>
                        
                        <!-- Sign Up Redirect Button -->
                        <div class="text-center">
                            <p>Don't have an account?</p>
                            <a href="{{ url_for('signup') }}" class="btn btn-secondary py-2 w-100">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
